@media screen and (max-width: 760px){
    
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 30px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    imput{
        align-self: center;
    }

    img{
        display: none;
    }
}
    
